@page
@model DSA_PR25.Pages.Account.Login
@{
    ViewData["Title"] = "Login";
    Layout ="_Layout";
}

<h2>Login</h2>

<form method="post">
    <div>
        <label>Username:</label>
        <input asp-for="Input.Username" />
        <span asp-validation-for="Input.Username"></span>
    </div>
    <div>
        <label>Password:</label>
        <input asp-for="Input.Password" type="password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <button type="submit">Login</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
