@page
@model IndexModel
@{
    Layout="_Layout";
    ViewData["Title"] = "Home page";
}

<section class="hero-section mt-5">
        <div class="container bg-purple rounded-3">
            <div class="row align-items-center p-5">
                <!-- Bên trái: Hình -->
                <div class="col-md-6 mb-4 mb-md-0">
                    <h4 class="text-center  "> giới thiệu</h4>
                    <div class="IMG_Banner_pokemon_purple d-flex">
                       <img width="250px" src="https://img.pokemondb.net/sprites/black-white/anim/back-normal/gengar.gif" alt="Gengar">
                       <img width="250px" src="https://img.pokemondb.net/sprites/black-white/anim/normal/gengar.gif" alt="Gengar">
                    </div>
                </div>

                <!-- Bên phải: Tiêu đề & nội dung -->
                <div class="col-md-6 ">
                    <h1 class="display-5 fw-bold ">Chào mừng bạn đến với 

                     

                    </h1>
                    <h5 class="   mt-3">
                        Đây là nơi bạn có thể khám phá những nội dung hấp dẫn, sản phẩm mới nhất và dịch vụ chất lượng cao từ chúng tôi.
                    </h5>
                    <h5 class="mt-3 ">
                        Chúng tôi luôn nỗ lực mang đến trải nghiệm tốt nhất cho bạn. Hãy cùng đồng hành và khám phá ngay hôm nay!
                    </h5>
                    <button class="btn btn-light btn-lg mt-4">Tìm hiểu thêm</button>
                </div>
            </div>
        </div>
    </section>